body{
    background: #fafafa;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
}
.main{
    background: #fdfdfd;
    border: 5px dashed #aaa;
    width: 40%;
    border-radius: 5px;
    margin: 5% auto;
    padding: 15px;
    text-align: center;
}