body{
    background: #eee;
    font-family: Helvetica;
}

.main{
    background: #fff;
    box-shadow: 0 0 25px #aaa;
    border: 1px solid #888;
    width: 40%;
    border-radius: 5px;
    margin: 10% auto;
    padding: 15px;
    text-align: center;
}